# ignore files in venv
venv/
__pycache__/
*.pyc

.env

commands


email_bot.log
email_bot.db
email.db
emails.db

test.py

## Testing files
DatabaseManager.py
email_bot_bala.py
email_bot.py
test.py

# With google api
secure_email_bot.py
